<head>
  <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
  <title>Sai</title>
  <meta name=”description” content=”Still Learning...”>
</head>

<body>
      <a align="left" href="https://github.com/sainyanhtay"><img src="https://raw.githubusercontent.com/sainyanhtay/sainyanhtay/main/devcard.svg" width="400" alt="Sai's Dev Card"/></a>
      <p align="right">
        - 👋 Hi, I’m @sainyanhtay
        - 👀 I’m interested in software development very much.
        - 🌱 I’m currently learning Flutter
        - 💞️ I’m looking to collaborate on everything with react native.
        - 📫 How to reach me? You can come through via here 👉 <a href="https://www.linkedin.com/in/sai-nyan-htay/">https://www.linkedin.com/in/sai-nyan-htay/</a>
        - 😄 Pronouns: Just Sai is fine 🫡
        - ⚡ Fun fact: You sure will know later... So many things 🤣🕺🏼
      </p>
</body>


  
